{#
/**
 * this tpl is used to show card (content).
 *
 *
 * find this tpl in theme/custom/toto/customtemplates
 *
 * TODO: Add in the content content.model_name for loading the right css.
 *
 */
 #}

{{ attach_library('toto/card-styling') }}
 
<article{{ attributes }}>







<div class="">
  <div id="businesscardlayout">
    <div id="displayCompany">{{ content.field_company }}</div>
    <div id="displayIdentity">
      <span id="displayFirstName">{{ content.field_first_name }}</span> <span id="displayLastName">{{ content.field_name }}</span>
    </div>
    <span id="displayJobTitle">{{ content.field_job }}</span>
    <div id="displayAddress">{{ content.field_address }}</div>
    <span id="displayEmail">{{ content.field_mail }}</span>
    <span id="displayWebsite"></span>
    <span id="displayPhoneNumber">{{ content.field_num }}</span>
  </div>
</div>

<br/>
<br/>
{{ content.field_taxono }}


</article>


